<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3 class="text-success">Active Exams</h3>
      <% @active_exams.each do |exam| %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= exam.title %></h5>
            <%= link_to 'Take Exam', take_student_exam_path(exam), class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
      <% if @active_exams.empty? %>
        <p>No active exams available.</p>
      <% end %>
    </div>

    <div class="col-md-4">
      <h3 class="text-warning">Upcoming Exams</h3>
      <% @upcoming_exams.each do |exam| %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= exam.title %></h5>
          </div>
        </div>
      <% end %>
      <% if @upcoming_exams.empty? %>
        <p>No upcoming exams available.</p>
      <% end %>
    </div>

    <div class="col-md-4">
      <h3 class="text-danger">Missed Exams</h3>
      <% @missed_exams.each do |exam| %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= exam.title %></h5>
          </div>
        </div>
      <% end %>
      <% if @missed_exams.empty? %>
        <p>No missed exams.</p>
      <% end %>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-12">
      <h3>Exams Taken</h3>
      <% @taken_exams_details.each do |exam| %>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= exam.title %></h5>
            <%= link_to 'Review My Answers', review_student_exam_student_exam_path(exam), class: 'btn btn-secondary' %>
          </div>
        </div>
      <% end %>
      <% if @taken_exams_details.empty? %>
        <p>No exams taken yet.</p>
      <% end %>
    </div>
  </div>
</div>
