<%= form_with(url: next_question_student_exam_path(@exam, index: @current_question_index), method: :post, local: true, html: { id: 'question-form', class: 'form-container' }) do |form| %>
  <div class="card mb-4 p-4 shadow-sm">
    <h3 class="card-title mb-3"><%= @question.content %></h3>

    <% if @question.question_type == 'multiple_choice' %>
      <div class="form-group">
        <% @question.options.each_with_index do |(key, value), index| %>
          <div class="form-check mb-2">
            <%= form.radio_button :student_answer, key, id: "option_#{index}", class: 'form-check-input' %>
            <%= form.label "option_#{index}", key, class: 'form-check-label' %>
          </div>
        <% end %>
      </div>
    <% elsif @question.question_type == 'short_answer' %>
      <div class="form-group">
        <%= form.label :student_answer, "Your Answer", class: 'form-label' %>
        <%= form.text_field :student_answer, class: 'form-control' %>
      </div>
    <% end %>

    <%= form.hidden_field :question_id, value: @question.id %>
    <%= form.hidden_field :index, value: @current_question_index %>

    <div class="d-flex justify-content-between mt-4">
      <%= form.submit "Next Question", id: "submit-button", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

