<h1>Edit Exam</h1>

<%= form_with(model: @exam, url: admin_exam_path(@exam ), 
              method: :patch,local: true) do |form| %>
  <% if @exam.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h2>
      <ul>
        <% @exam.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time %>
  </div>


  <div class="actions">
    <%= form.submit 'Update Exam' %>
  </div>

  
<% end %>

<%= link_to 'Back', admin_exam_path(@exam) %>
