<h1>Exam Details</h1>
<p>
  <strong>Title:</strong>
  <%= @exam.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @exam.description %>
</p>
<p>
  <strong>Start Time:</strong>
  <%= @exam.start_time.strftime("%B %d, %Y %I:%M %p") %>
</p>
<p>
  <strong>End Time:</strong>
  <%= @exam.end_time.strftime("%B %d, %Y %I:%M %p") %>
</p>
<p>
  <strong>Approved:</strong>
  <%= @exam.approved ? "Yes" : "No" %>
</p>
<p>
  <strong>Cancelled:</strong>
  <%= @exam.cancelled ? "Yes" : "No" %>
</p>
<h2>Questions</h2>
<% if @exam.questions.any? %>
  <ul>
    <% @exam.questions.each do |question| %>
      <li>
        <%= question.content %> <br>
        <%= link_to  "Show Question", admin_exam_question_path(@exam,question) %>
        <%= button_to "Delete", admin_exam_question_path(@exam, question), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'%>
        <% if question.question_type == 'multiple_choice' %>
          <ul>
            <% question.options.each_with_index do |(key, value), index| %>
              <li><strong> <%= key %></strong></li>
            <% end %>
          </ul>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No questions available.</p>
<% end %>
<%= link_to 'Edit Exam Details', edit_admin_exam_path(@exam) %> &nbsp
<%= link_to 'Back to List', admin_exams_path %>
