<div class="question-details">
  <h3>Question Details</h3>
  <p><strong>Content:</strong> <%= @question.content %></p>
  <p><strong>Question Type:</strong> <%= @question.question_type %></p>

  <% if @question.question_type == 'multiple_choice' %>
    <h4>Options:</h4>
    <ul class="list-group mb-3">
      <% @question.options.each_with_index do |(key, value), index| %>
        <li class="list-group-item"><strong><%= key %></strong></li>
      <% end %>
    </ul>
  <% end %>

  <div class="btn-group" role="group">
    <%= link_to 'Edit Question', edit_admin_exam_question_path(@exam, @question), class: 'btn btn-primary' %>
    <%= link_to 'Back to Exam', admin_exam_path(@exam), class: 'btn btn-secondary' %>
    <%= link_to 'Delete', admin_exam_question_path(@exam, @question), data: { turbo_method: :delete }, class: 'btn btn-danger' %>
  </div>
</div>
