
<h3>All Exams</h3>


<ul>
  <% @exams.each do |exam| %>
    <% case current_user.user_type %>
      <% when 'admin' %>
        <%= render 'exams/teacher_admin_exam', exam: exam%>
        <% if !exam.approved %>
          <%= link_to 'Approve Exam', approve_exam_path(exam), data: {turbo_method: "post"} if !exam.cancelled%>
        <% end %>
      <% when 'teacher' %>
        <%= render 'exams/teacher_admin_exam', exam: exam%>
        <%if !exam.approved && !exam.request_approval && !exam.cancelled%>
          <%= link_to  "Request Approval", request_approval_exam_path(exam), data:{turbo_method: "post"} %>
        <%end%>
      <% when 'student' %>
        <%if !exam.cancelled && exam.approved?%>
          <% if exam.active?%>
          <br>
            <strong>Active Exams</strong>
            <li><%= exam.title %></li>
            <%= link_to 'Take Exam', take_exam_path(exam) %>
          <%else%>
            <%if exam.start_time > Time.now%>
              <strong>Upcoming Exams</strong>
              <li><%= exam.title %></li>
            <% elsif exam.end_time < Time.now%>
              <strong>Missed Exams</strong>
              <li><%= exam.title %></li>
            <%end%>
          <%end%>
        <% end %>
    <% end %>
  <% end %>
</ul>

<% if user_signed_in? && current_user.teacher? %>
  <%= link_to 'Create New Exam', new_exam_path %>
<% end %>
