<%= form_with url: assign_marks_teacher_exam_path(@exam), method: :post, local: true do %>
  <div class="cardgit bg-white text-white">
    <div class="card-header bg-green text-white">
      <h2>Review Exam: <%= @exam.title %></h2>
    </div>

    <div class="card-body">
      <% @students.each do |student| %>
        <div class="card_exam">
          <div class="card-header bg-red text-white">
            <h3 class="text-white"><%= student.name %></h3>
          </div>

          <% student_answers = StudentAnswer.where(exam_id: @exam.id, user_id: student.id) %>
          
          <div class="card-body">
            <% if student_answers.any? %>
              <% student_answers.each do |answer| %>
                <div class="form-group">
                  <label class="text-success"><%= answer.question.content %></label>
                  <p class="text-success"><strong>Answer:</strong> <%= answer.answer %></p>
                  <input type="number" name="marks[<%= answer.id %>]" value="<%= answer.marks || 0 %>" class="form-control" placeholder="Enter marks" />
                </div>
              <% end %>
            <% else %>
              <p class="text-brown">No answers found for this student.</p>
            <% end %>
          </div>

          <hr>
        </div>
      <% end %>
    </div>

    <div class="card-footer">
      <%= submit_tag 'Save Marks', class: 'btn btn-primary flex-grow-1 mx-1' %>
      <%= link_to  "Back", taken_exams_teacher_exams_path, class: 'btn btn-secondary flex-grow-1 mx-1'  %>
    </div>
  </div>
<% end %>
