<div class="container mt-4">
  <h1 class="mb-4">Exam Details</h1>

  <div class="card mb-4">
    <div class="card-body">
      <p class="card-text">
        <strong>Title:</strong> <%= @exam.title %><br>
        <strong>Description:</strong> <%= @exam.description %><br>
        <strong>Start Time:</strong> <%= @exam.start_time.strftime("%B %d, %Y %I:%M %p") %><br>
        <strong>End Time:</strong> <%= @exam.end_time.strftime("%B %d, %Y %I:%M %p") %><br>
        <strong>Approved:</strong> <%= @exam.approved ? "Yes" : "No" %><br>
        <strong>Cancelled:</strong> <%= @exam.cancelled ? "Yes" : "No" %>
      </p>
      <%= link_to 'Edit Exam Details', edit_teacher_exam_path(@exam), class: 'btn btn-primary' %>
      <%= link_to 'Back to List', teacher_exams_path, class: 'btn btn-secondary ml-2' %>
    </div>
  </div>

  <h2 class="mb-4">Questions</h2>

  <div class="card mb-4">
    <div class="card-body">
      <% if @exam.questions.any? %>
        <ul class="list-group list-group-flush">
          <% @exam.questions.each do |question| %>
            <li class="list-group-item">
              <p>
                <strong>Question:</strong> <%= question.content %>
              </p>
              <div class="mb-2">
                <%= link_to 'Show Question', teacher_exam_question_path(@exam, question), class: 'btn btn-info mb-2' %>
                <%= button_to 'Delete', teacher_exam_question_path(@exam, question), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger ml-2' if current_user.teacher? %>
              </div>

              <% if question.question_type == 'multiple_choice' %>
                <ul class="list-group mt-2">
                  <% question.options.each_with_index do |(key, value), index| %>
                    <li class="list-group-item">
                      <strong>Option <%= index + 1 %>:</strong> <%= key %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div class="alert alert-warning">No questions available.</div>
      <% end %>
    </div>
  </div>

  <%= link_to 'Add Question', new_teacher_exam_question_path(@exam), class: 'btn btn-success' if current_user.teacher? %>
  <%= link_to  "Back", teacher_exams_path, class: 'btn btn-secondary' %>
</div>
